.faq-input-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background: var(--white-100);
    border-radius: 14px;
    outline: none;
    border: 1px solid var(--secondary-05);
    padding: 4px;
}
.input-container svg{
    width: 16px;
    height: 16px;
}
.search-input-text input{
    width: 100%;
    border: none;
}
.search-input-text{
    width: 100%;
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 4px 4px 4px 16px;

}
.faq-search-btn{
    width: 116px;
    height: 42px;
    font-weight: 800;
    color: var(--white-100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 42px;
    gap: 10px;
    padding: 9px 16px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: auto;
}

@media (max-width: 480px) {
    .faq-search-btn{
        width: 42px;
    }
    .faq-search-btn p{
        display: none;
    }
}