@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Regular.eot');
    src: local('Circe'), local('Circe-Regular'),
    url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraLight.eot');
    src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
    url('../fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-ExtraLight.woff') format('woff'),
    url('../fonts/Circe-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Thin.eot');
    src: local('Circe Thin'), local('Circe-Thin'),
    url('../fonts/Circe-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Thin.woff') format('woff'),
    url('../fonts/Circe-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Light.eot');
    src: local('Circe Light'), local('Circe-Light'),
    url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Light.woff') format('woff'),
    url('../fonts/Circe-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-Bold.eot');
    src: local('Circe Bold'), local('Circe-Bold'),
    url('../fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Bold.woff') format('woff'),
    url('../fonts/Circe-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe-ExtraBold.eot');
    src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
    url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-ExtraBold.woff') format('woff'),
    url('../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* General styles */
:root{

    --main-bg: #F9F8FE;
    --black10: #0000001A;
    --black30: #0000004D;
    --black50: #00000080;
    --black70: #000000B3;
    --black100: #000000;
    --white10: #FFFFFF1A;
    --white30: #FFFFFF4D;
    --white70: #FFFFFFB3;
    --white100: #ffffff;
    --primary1: #2E66E2;
    --primary2: #4577E5;
    --primary3: #5C88E8;
    --primary7: #D1DDF9;
    --primary8: #E8EEFC;
    --secondary1: #F7AD30;
    --secondary2: #F8B647;
    --secondary3: #F9BF5E;
    --secondary5: #FAD28C;
    --secondary7: #FDEDD1;
    --secondary8: #FEF6E8;
    --red1: #EA3A3A;
    --green1: #1DB27B;
    --purple1: #9747FF;
    --purple2: #A35BFF;
    --purple8: #F3EBFF;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
html,
body {
    font-family: Circe;
    width: 100%;
    scroll-behavior: smooth;
    height: 100%;
    background-color: var(--white100);
    font-size: 14px;
    line-height: 1;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1440px;
}
a {
    text-decoration: none;
    color: inherit;
}
p{
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.button-primary {
    font-family: Circe;
    border: none;
    padding: 0;
    background-color: var(--secondary2);
    color: var(--white100);
    border-radius: 12px;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
}
.button-primary:hover{
    background-color: var(--secondary3);
}
.button-primary:active{
    background-color: var(--secondary1);
}
.button-secondary {
    font-family: Circe;
    padding: 0;
    background-color: var(--white100);
    border-radius: 12px;
    border: 1px solid rgb(248, 182, 71);
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    color: var(--black50);
}
.button-secondary:hover{
    background-color: var(--white10);
}
.button-secondary:active{
    background-color: var(--black10);
}
.button-contained {
    font-family: Circe;
    border: none;
    padding: 0;
    background-color: var(--secondary7);
    border-radius: 12px;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
}
.button-contained:hover{
    background-color: var(--secondary3);
}
.button-contained:active{
    background-color: var(--secondary1);
}
.button-clear {
    font-family: Circe;
    border: none;
    padding: 0;
    background-color: transparent;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    color: var(--secondary2);
}
.button-clear:hover{
    background-color: var(--purple8);
}
.button-clear:active{
    background-color: var(--purple2);
}
h1{
    font-size: 56px;
    font-weight: 800;
    line-height: 83px;
}
h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 71px;
}
h3{
    font-size: 36px;
    font-weight: 800;
    line-height: 53px;
}
h4{
    font-size: 24px;
    font-weight: 800;
    line-height: 35px;
}
.subtitle-1{
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
    text-align: left;
    text-transform: uppercase;
}
.subtitle-2{
    font-size: 20px;
    font-weight: 800;
    line-height: 29px;
}
.page_title{
    padding: 0 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--black50);
}
.container{
    max-width: 1210px;
    margin: 0 auto;
}
/*HEADER*/
.header{
    background-color: var(--white100);
    width: 1210px;
    margin: 0 auto;
}
.header-if-logout,
.header-if-login{
    display: flex;
    flex-direction: column;
}
.header_top{
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}
.header_logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header_logo p{
    font-weight: 800;
    color: var(--primary1);
}
.header_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.header_button-expert{
    padding: 9px 26px 6px;
}
.header_button-support{
    padding: 9px 26px 6px 16px;
}
.header_button-support p:before{
    content: url("../img/icons/support-yellow.svg");
    margin-right: 10px;
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
}
.header_button-login{
    padding: 9px 30px 6px 16px;
}
.header_button-login p:before{
    content: url("../img/icons/login.svg");
    margin-right: 10px;
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
}
.header_button-signup{
    padding: 9px 26px 6px 16px;
}
.header_button-signup p:before{
    content: url("../img/icons/signup.svg");
    margin-right: 10px;
    margin-top: 4px;
    display: inline-block;
    vertical-align: middle;
}
.top_buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    line-height: 21px;
}
.top_amount{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 42px;
    padding: 6px 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.top_amount p,
.top_next_appointment p{
    line-height: 42px;
    align-self: center;
}
.top_next_appointment{
    height: 42px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.top_messages,
.top_notice{
    padding: 10px;
    background-color: var(--secondary8);
    position: relative;
    border-radius: 12px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messages-count,
.notice-count,
.dashboard_appointment_count{
    position: absolute;
    padding: 4px;
    font-size: 10px;
    font-weight: 800;
    top: -3px;
    right: -5px;
    color: #ffffff;
    width: 18px;
    height: 18px;
    background-color: var(--red1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top_exit{
    padding: 10px;
    background-color: var(--secondary8);
    position: relative;
    border-radius: 12px;
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-divider{
    position: absolute;
    top: 66px;
    left: 0;
    width: 100vw;
    height: 1px;
    background-color: #E7E7E7;
}
/*MENU*/
.menu_list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
}

.menu_item {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 24px 22px;
    cursor: pointer;
    font-size: 16px;
}
.menu_item-exit{
    display: none;
}

.menu_item:first-child {
    padding-left: 0;
}

.menu_item:nth-child(8) {
    padding-right: 0;
}
.menu_item:hover {
    background-color: var(--main-bg);
    color: var(--primary1);
}
.menu_item:active {
    color: var(--primary1);
}
.menu_item:hover .menu_icon path {
    stroke: var(--primary1);
}
.menu_item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    top: 50%;
    bottom: 50%;
}
.menu_icon{
    height: 16px;
    width: 16px;
}
.menu_item-text{
    color: var(--black70);
    margin-top: 3px;
    font-size: 10px;
    text-transform: uppercase;
}
.menu_item:hover .menu_item-text {
    color: var(--primary1);
}
.menu_btn{
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    cursor: pointer;
}
.menu_btn span{
    background-color: #000000;
    height: 2px;
    width: 100%;
}



















/*ADAPTIVE*/
@media (max-width: 1279px) {
    .menu_btn{
        display: flex;
    }
    .menu_list{
        transform: translateX(-100%);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        background-color: #fcdb00;
        display: block;
        text-align: center;
        padding: 80px 0;
        transition: all 900ms cubic-bezier(.9, 0, .33, 1);
        gap: 40px 0;
    }
    .menu_list.menu--open{
        transform: translateX(0);
    }
    .top_exit{
        display: none;
    }
}

@media (max-width: 1024px) {
    .top_amount_title{
        display: none;
    }
    .top_next_appointment_title{
        display: none;
    }
}
@media (max-width: 767px) {
    .subtitle-2{
        font-size: 16px;
    }

}
@media (max-width: 639px) {
    .top_amount,
    .top_next_appointment{
        display: none;
    }
}
@media (max-width: 579px) {

}
@media (max-width: 479px) {

}
@media (max-width: 375px) {

}